@attribute [Authorize(Roles = "Admin, Mod")]
@page "/drinktools/ingredient-types"

<MudCard>
	<MudCardContent>
		<EditForm Model="@IngredientDisplay" OnValidSubmit="ValidSubmit">
			<DataAnnotationsValidator />
			<ValidationSummary />
			@if(errorValid != null)
			{
				<label class="alert-warning">@errorValid</label>
			}
			<label for="Name">Name of Ingredient Type</label>
			<InputText @bind-Value=IngredientDisplay.Name class="form-control" id="Name"></InputText>
			@if (IngredientDisplay.Id == 0)
			{
				<input type="submit" class="btn btn-dark" value="Add" />
			}
			else
			{
				<input type="submit" class="btn btn-dark" value="Update" />
			}
		</EditForm>
	</MudCardContent>
</MudCard>
@if(ingredientTypes is null)
{
	<MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
	<MudDataGrid Items="ingredientTypes" Striped="true">
		<Columns>
			<PropertyColumn Property="x => x.Name" />
			<TemplateColumn T="IngredientTypeDisplayModel" CellClass="d-flex justify-end">
				<CellTemplate>
					<MudIconButton Size="@Size.Small" Variant="Variant.Text" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => this.OnEdit(context.Item))" aria-label="edit"></MudIconButton>
				</CellTemplate>
			</TemplateColumn>
		</Columns>
	</MudDataGrid>
}
