@attribute [Authorize(Roles = "Admin, Mod")]
@page "/drinktools/ice"

<MudCard>
	<MudCardContent>
		<EditForm Model="@Model" class="@showInvalid" OnValidSubmit="ValidSubmit">
			<DataAnnotationsValidator />
			<ValidationSummary />
			@if (errorValid != null)
			{
				<label class="alert-warning">@errorValid</label>
			}
			<MudTextField Label="Ice" @bind-Value=Model.Value></MudTextField>
			@if (Model.Id == 0)
			{
				<input type="submit" class="btn btn-dark" value="Add" />
			}
			else
			{
				<input type="submit" class="btn btn-dark" value="Update" />
			}
		</EditForm>
	</MudCardContent>
</MudCard>
@if (Types is null)
{
	<MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
	<AuthorizeView Roles="Admin">
		<CascadingValue Value="Types">
			<TagEditDeleteTabel OnEdit="@EditType"
							OnDelete="@DeleteType" />
		</CascadingValue>

	</AuthorizeView>
	<AuthorizeView Roles="Mod">
		<CascadingValue Value="Types">
			<TagEditTabel OnEdit="@EditType" />
		</CascadingValue>
	</AuthorizeView>
}