@attribute [Authorize(Roles = "Admin, Mod")]
@page "/drinktools/ingredients"


<MudContainer>
 <MudPaper Elevation="0" >
	<MudPaper Elevation="0">
		<EditForm Model="@Ingredient" 
				OnValidSubmit="HandleValidSubmit" 
				OnInvalidSubmit="HandleInvalidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
			@if (!String.IsNullOrEmpty(ErrorText))
			{
				<MudAlert Severity="Severity.Warning">@ErrorText</MudAlert>
			}
		<MudStack Spacing="3">
		<MudPaper Elevation="0">
			<MudCardHeader>Ingredient</MudCardHeader>
			<MudCardContent >
					<MudTextField @bind-Value="Ingredient.Name" Label="Ingredient Name" Variant="Variant.Text" @onkeypress=KeyStop></MudTextField>
					<CascadingValue Value="Ingredient.IngredientType">
						<IngredientTypeDropDown OnSelectIngredient="OnSelectIngredientChange" />
					</CascadingValue>
			</MudCardContent>
		</MudPaper>
			</MudStack>
			<MudDivider DividerType="DividerType.FullWidth" />

		@if (Ingredient.Id == 0)
		{
				<input type="submit" class="btn btn-dark" @onkeypress="KeyStop" value="Add" />
		}
		else
		{
				<input type="submit" class="btn btn-dark" @onkeypress="KeyStop" value="Edit" />
		}
				<input type="button" class="btn btn-dark pl-1" @onkeypress="() => Ingredient = new IngredientDisplayModel()" value="Clear" />
	</EditForm>
	</MudPaper>
		@if (Ingredients is null)
		{
			<MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
		}
		else
		{
			<MudDataGrid Items="Ingredients" Striped="true" Groupable="@groupin">
				<ToolBarContent>
					<MudStack Row>
						<MudButton @onclick="() => flip()">Murder Groups!</MudButton>
					</MudStack>

				</ToolBarContent>
				<Columns>
					<PropertyColumn Property="x => x.Name" Sortable="true" Filterable="true"/>
	
					<PropertyColumn Property="x => x.IngredientType.Name" Grouping GroupBy="@_groupBy" Filterable="true">
						 <GroupTemplate>
							<span style="font-weight:bold">@context.Grouping.Key <MudChip Variant="Variant.Outlined" Label="true" Color="Color.Surface" Size="Size.Small">total @context.Grouping.Count()</MudChip></span>
						 </GroupTemplate>
					</PropertyColumn>
					<TemplateColumn T="IngredientDisplayModel" CellClass="d-flex justify-end">
					<CellTemplate>
						<MudIconButton Size="@Size.Small" Variant="Variant.Text" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => this.OnEdit(context.Item))" aria-label="edit"></MudIconButton>
					</CellTemplate>
					</TemplateColumn>
				</Columns>
			</MudDataGrid>
		}

</MudPaper>
</MudContainer>