
 <MudContainer>
	<MudPaper Elevation="1" Class="py-8 px-10">
	<EditForm Model="@Ingredient" id="inputarea" 
				class="form-control border-0" 
				OnValidSubmit="HandleValidSubmit" 
				OnInvalidSubmit="HandleInvalidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
			@if (!String.IsNullOrEmpty(ErrorText))
			{
				<MudAlert Severity="Severity.Warning">@ErrorText</MudAlert>
			}
		<MudStack Spacing="3">
		<MudCard Elevation="1" Class="py-8 px-10">
			<MudCardHeader>Ingredient</MudCardHeader>
			<MudCardContent >
				<MudItem xs="12" sm="6" md="4">
					<MudTextField @bind-Value="Ingredient.Name" Label="Ingredient Name" Variant="Variant.Text" @onkeypress=KeyStop></MudTextField>
					<CascadingValue Value="Ingredient.IngredientType">
						<IngredientTypeDropDown OnSelectIngredient="OnSelectIngredientChange" />
					</CascadingValue>
				</MudItem>
			</MudCardContent>
		</MudCard>
		<CascadingValue Value="Ingredient.Tags">
			<Tagging TagType="@nameof(IngredientDisplayModel)"
					 OnSelectTag="OnSelectTagsChanged"></Tagging>
		</CascadingValue>
			</MudStack>
			<MudDivider DividerType="DividerType.FullWidth" />

		@if (Ingredient.Id == 0)
		{
				<input type="submit" class="btn btn-dark" @onkeypress="KeyStop" value="Add" />
		}
		else
		{
				<input type="submit" class="btn btn-dark" @onkeypress="KeyStop" value="Edit" />
		}
	</EditForm>
</MudPaper>
	<MudCard Elevation="1" Class="py-8 px-10">
	<MudCardHeader>
		Ingredient List
	</MudCardHeader>
	<MudCardContent>
	<MudPaper Outlined="true" Class="border-dashed">
	<MudGrid Spacing="2" Justify="Justify.Center">
	@foreach(IngredientDisplayModel i in Ingredients)
	{
			<MudItem xs="3">
				<MudCard Elevation="4" Class="d-flex flex-column align-center justify-center mud-width-full py-8">
				<MudCardHeader><h5>@i.Name</h5></MudCardHeader>
				<MudCardActions>
							<MudChip Color="Color.Info" Value="@i" OnClose="ChipClick" CloseIcon="@Icons.Material.Filled.Edit" Text="Edit"/>
							<MudChip Color="Color.Warning" Value="@i" OnClose="ChipClick" CloseIcon="@Icons.Material.Filled.Delete" Text="Delete" />
				</MudCardActions>
			</MudCard>
			
		</MudItem>
	}
	</MudGrid>
	</MudPaper>
	</MudCardContent>
	
</MudCard>
</MudContainer>